<div class="container-fluid">

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">{{nameOfSystemComment}}</h4>
        </div>
        <div class="modal-body" *ngIf="comparison">
          Comment on the {{comparison.userName}}'s responses for this system.<br />Remember to re-comment if you choose another comparison standard.
          <form role="form" style="margin-top: 10px;">
            <fieldset class="form-group">
              <input class="form-control" [(ngModel)]="currentSystemComment">
            </fieldset>
            <button type="submit" class="btn btn-primary" (click)="lgModal.hide();saveSystemComment()">Save comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" *ngIf="detailedPhenotype">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">{{detailedPhenotype.phenotypeName}}</h4>
        </div>
        <div class="modal-body">
          <strong>Pace of progression</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.progression" (change)="setDetail('progression', $event.target.value)" disabled>
            <option value="-1">N/A</option>
            <option value="HP:0003680">Nonprogressive</option>
            <option value="HP:0003677">Slow progression</option>
            <option value="HP:0003676">Progressive</option>
            <option value="HP:0003678">Rapidly progressive</option>
            <option value="HP:0003682">Variable progression rate</option>
          </select>
          <br />
          <strong>Severity</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.severity" (change)="setDetail('severity', $event.target.value)" disabled>
            <option value="-1">N/A</option>
            <option value="HP:0012827" title="Having a minor degree of severity that is considered to be on the boundary between the normal and the abnormal ranges. For quantitative traits, a deviation of that is less than two standard deviations from the appropriate population mean.">Borderline</option>
            <option value="HP:0012825" title="Having a relatively minor degree of severity. For quantitative traits, a deviation of between two and three standard deviations from the appropriate population mean.">Mild</option>
            <option value="HP:0012826" title="Having a medium degree of severity. For quantitative traits, a deviation of between three and four standard deviations from the appropriate population mean.">Moderate</option>
            <option value="HP:0012828" title="Having a high degree of severity. For quantitative traits, a deviation of between four and five standard deviations from the appropriate population mean.">Severe</option>
            <option value="HP:0012829" title="Having an extremely high degree of severity. For quantitative traits, a deviation of more than five standard deviations from the appropriate population mean.">Profound</option>
          </select>
          <br />
          <strong>Temporal pattern</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.temporalPattern" (change)="setDetail('temporal_pattern', $event.target.value)" disabled>
            <option value="-1">N/A</option>
            <option value="HP:0003587" title="Gradual, very slow onset of disease manifestations.">Insidious onset</option>
            <option value="HP:0011010" title="Slow, creeping onset, slow progress and long continuance of disease manifestations.">Chronic</option>
            <option value="HP:0011011" title="Somewhat rapid onset and change of disease manifestations.">Subacute</option>
            <option value="HP:0011009" title="Sudden appearance of disease manifestations over a short period of time.">Acute</option>
          </select>
          <br />
          <strong>Spatial pattern</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.spatialPattern" (change)="setDetail('spatial_pattern', $event.target.value)" disabled>
            <option value="-1">N/A</option>
            <option value="HP:0012837" title="Affecting all regions without specificity of distribution.">Generalized</option>
            <option value="HP:0012838" title="Being confined or restricted to a particular location.">Localized</option>
            <option value="HP:0012839" title="Localized away from the central point of the body.">– Distal</option>
            <option value="HP:0012840" title="Localized close to the central point of the body.">– Proximal</option>
            <option value="HP:0030645">– Central</option>
          </select>
          <br />
          <strong>Laterality</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.laterality"  (change)="setDetail('laterality', $event.target.value)" disabled>
            <option value="-1">N/A</option>
            <option value="HP:0012832" title="Being present on both sides of the body.">Bilateral</option>
            <option value="HP:0012833" title="Being present on only the left or only the right side of the body.">Unilateral</option>
            <option value="HP:0012834" title="Being located on the right side of the body.">Right</option>
            <option value="HP:0012835" title="Being located on the left side of the body.">Left</option>
          </select>
          <br />
          <strong>Specific age of onset</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.specificOnset" (change)="setDetail('specific_onset', $event.target.value)" disabled *ngIf="detailedPhenotype.onset == 'HP:0030674'">
            <option value="-1">N/A</option>
            <option value="HP:0011460" title="Onset of disease at up to 8 weeks of gestation.">Embryonal onset</option>
            <option value="HP:0011461" title="Onset prior to birth but after 8 weeks of gestation.">Fetal onset</option>
          </select>
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.specificOnset" (change)="setDetail('specific_onset', $event.target.value)" disabled *ngIf="detailedPhenotype.onset == 'HP:0003581'">
            <option value="-1">N/A</option>
            <option value="HP:0011462" title="Onset of disease at the age of between 16 and 40 years.">Young adult onset</option>
            <option value="HP:0003596" title="A type of adult onset with onset of symptoms at the age of 40 to 60 years.">Middle age onset</option>
            <option value="HP:0003584" title="A type of adult onset with onset of symptoms after the age of 60 years.">Late onset</option>
          </select>
          <div style="margin-bottom: 10px" *ngIf="detailedPhenotype.onset != 'HP:0030674' && detailedPhenotype.onset != 'HP:0003581'">
            <i>Only antenatal and adult onsets have more specific onsets.</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" *ngIf="!comparison || comparison.status > 0">
        Comparator
      </h2>
      <h2 class="page-header" id="exercise-header" *ngIf="comparison && comparison.status <= 0">
        {{comparison.exerciseName}}
        <a (click)="closeAnnotation()" style="color:#455A64; cursor: pointer;">
          <i class="fa fa-times-circle-o" title="Close" style="font-size: 20px; vertical-align: 4px;"></i>
        </a>
      </h2>
      <ol class="breadcrumb" *ngIf="comparison">
        <li class="active">
          <i class="fa fa-info-circle"></i> Compare two annotations for
          <span *ngIf="comparison.status > 0">
            {{comparison.diseaseName}}
          </span>
          <span *ngIf="comparison.status <= 0">
            <div dropdown keyboardNav="true" style="display: inline">
              <a href id="simple-dropdown" dropdownToggle>
                {{comparison.diseaseName}}
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem"><a class="dropdown-item" *ngFor="let disease of comparison.diseases" (click)="gotoComparison(disease.annotationID, null)" style="cursor: pointer">{{disease.diseaseName}}</a></li>
              </ul>
            </div>
          </span>
        </li>
      </ol>
      <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
        {{ alert?.msg }}
      </alert>
    </div>
    <div class="col-lg-12" *ngIf="comparison && profLevel">
      <button class="btn btn-secondary" style="color:#0275d8;" (click)="gotoPhenository(comparison.diseaseDB, comparison.diseaseName)">
        <i class="fa fa-cloud" aria-hidden="true"></i> View in Phenository
      </button>
      <button class="btn btn-info" (click)="lookUpDisease(comparison.diseaseName)">
        <i class="fa fa-book" aria-hidden="true"></i> Look up
      </button>
      <button class="btn btn-secondary" (click)="gotoMyClasses()" *ngIf="comparison.exerciseID">
        <i class="fa fa-users" aria-hidden="true"></i> View in My Classes
      </button>
    </div>
  </div>

  <div class="row" *ngIf="comparison && profLevel && comparison.status === -2">
    <div class="col-lg-12">
      <div class="card card-block" style="margin-top: 10px">
        <form style="margin-bottom: 10px">
          <div class="row">
            <div class="col-lg-7">
              <input type="radio" name="grade" id="no-grade" value="no-grade" *ngIf="comparison.score != null">
              <input type="radio" name="grade" id="no-grade" value="no-grade" *ngIf="comparison.score == null" checked>
              <label for="no-grade">Do not grade</label>
              <br />
              <input type="radio" name="grade" id="auto-grade" value="auto-grade" *ngIf="comparison.score == null || !comparison.standard">
              <input type="radio" name="grade" id="auto-grade" value="auto-grade" *ngIf="comparison.score != null && comparison.standard" checked>
              <label for="auto-grade">Award the calculated score for this response: {{calculatedScorePercent}}%</label>
              <br />
              <input type="radio" name="grade" id="manual-grade" value="manual-grade" *ngIf="comparison.score == null || comparison.standard">
              <input type="radio" name="grade" id="manual-grade" value="manual-grade" *ngIf="comparison.score != null && !comparison.standard" checked>
              <label for="manual-grade">Define a score manually:</label>
              <input type="text" name="score" id="score" maxlength="2" size="2" style="text-align: right" *ngIf="comparison.score == null || comparison.standard" />
              <input type="text" name="score" id="score" maxlength="2" size="2" style="text-align: right" *ngIf="comparison.score != null && !comparison.standard" [ngModel]="comparison.score * 100" />
              %
            </div>
            <div class="col-lg-5">
              <label for="memo">Overall comments</label>
              <br />
              <textarea id="memo">{{comparison.memo}}</textarea>
            </div>
          </div>
        </form>
        <button class="btn btn-secondary" *ngIf="!comparison.released" (click)="saveScore()">
          Save
        </button>
        <button class="btn btn-primary" *ngIf="!comparison.released" (click)="saveAndReleaseScore()">
          Save and release
        </button>
        <button class="btn btn-primary" *ngIf="comparison.released" (click)="saveScore()">
          Update
        </button>
        <button class="btn btn-danger" *ngIf="comparison.released" (click)="unreleaseScore()">
          Unrelease score
        </button>
      </div>
    </div>
  </div>

  <div class="card card-block" *ngIf="studentLevel && comparison && comparison.released">
    <p><strong>Score (out of 1; blank means "not graded")</strong>: {{comparison.score}}</p>
    <p *ngIf="comparison.memo"><strong>Overall comments</strong>: {{comparison.memo}}</p>
  </div>

  <br *ngIf="comparison" />

  <div class="row" *ngIf="comparison">
    <div class="col-lg-6">
      <span *ngIf="comparison.status > 0 && profLevel" style="margin-right: 10px">
        Annotation {{comparison.annotationID}}
      </span>
      <div dropdown keyboardNav="true" *ngIf="comparison.status <= 0 && profLevel" style="display: inline">
        <a href class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          {{comparison.userName}}
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li role="menuitem" *ngFor="let submission of comparison.submissions">
            <a class="dropdown-item" style="cursor:pointer" (click)="gotoComparison(submission.annotationID, comparison.compareToAnnotationID)">
              {{submission.userName}}
            </a>
          </li>
        </ul>
      </div>
      <span *ngIf="studentLevel" style="margin-right: 10px">
        Response
      </span>
      <button class="btn btn-secondary" title="Open in Annotator" (click)="goToAnnotator(comparison.annotationID)">
        <i class="fa fa-fw fa-pencil"></i>
      </button>
    </div>
    <div class="col-lg-6" *ngIf="comparison.released || profLevel">
      <div dropdown keyboardNav="true" style="display: inline" *ngIf="profLevel">
        <a href class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i *ngIf="comparison.annotationID !== comparison.compareToAnnotationID">Annotation {{comparison.compareToAnnotationID}}</i>
          <i *ngIf="comparison.annotationID === comparison.compareToAnnotationID">No standard</i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li role="menuitem" *ngFor="let annotation of comparison.annotations">
            <a class="dropdown-item" style="cursor:pointer" (click)="gotoComparison(comparison.annotationID, annotation.annotationID)">
              <i>Annotation {{annotation.annotationID}} (<i class="fa fa-thumbs-up" aria-hidden="true"></i> {{annotation.numLikes}})</i>
            </a>
          </li>
          <li role="menuitem" *ngIf="comparison.status <= 0">
            <a class="dropdown-item" style="cursor:pointer" (click)="gotoComparison(comparison.annotationID, comparison.annotationID)">
              <i>No standard</i>
            </a>
          </li>
        </ul>
      </div>
      <span *ngIf="comparison.annotationID !== comparison.compareToAnnotationID && studentLevel" style="margin-right: 10px">
        <i>Standard</i>
      </span>
      <button class="btn btn-secondary" title="Open in Annotator" (click)="goToAnnotator(comparison.compareToAnnotationID)" *ngIf="comparison.annotationID !== comparison.compareToAnnotationID">
        <i class="fa fa-fw fa-pencil"></i>
      </button>
    </div>
  </div>

  <div *ngIf="comparison && comparison.annotations.length === 0 && profLevel">
    <br />
    <strong><i class="fa fa-exclamation-triangle" aria-hidden="true" *ngIf="comparison.annotationID === comparison.compareToAnnotationID && profLevel && comparison.status === -2"></i> There are no published annotations to compare to.</strong>
  </div>

  <div *ngIf="comparison && comparison.annotationID === comparison.compareToAnnotationID && studentLevel && comparison.released">
    <br />
    <strong>Your professor or teaching assistant has not released a standard to which you can compare your annotation. Please contact him/her if you have questions about your score.</strong>
  </div>

  <div *ngIf="comparison && studentLevel && !comparison.released">
    <br />
    <strong>There are currently no annotations to compare to.</strong>
  </div>

  <div class="row" *ngIf="comparison && ((comparison.annotationID !== comparison.compareToAnnotationID && profLevel) || (((comparison.released && comparison.standard) || profLevel) && comparison.status === -2))">
    <div class="col-lg-12" *ngFor="let system of comparison.systems">
      <br />
      <div class="card card-block card-header">
        <strong>
          {{system.systemName}}
        </strong>
        <span *ngIf="comparison.status === -2">
          <button class="btn btn-sm btn-secondary" style="margin-top: -3.5px; margin-left: 10px; float: right" *ngIf="profLevel && comparison.status === -2" title="Edit system comment" (click)="lgModal.show();editSystemComment(system)">
            <i class="fa fa-comment"></i>
          </button>
          <input type="range" name="{{system.systemHPO}}" min="0" max="100" style="float: right; margin-left: 10px;  margin-top: 4.5px" value="{{system.systemScore * 100}}" *ngIf="profLevel && comparison.status === -2" (mouseup)="setSystemScoreEvent($event)" />
          <span style="float: right">{{round(system.systemScore * 100)}}%</span>
          <div class="ok" (click)="setSystemScore(system.systemHPO, system.systemScore)" title="This system score was automatically calculated. Click (or edit the system score) to confirm that it is correct." *ngIf="!system.systemScoreSet && comparison.status <= 0"></div>
        </span>
      </div>
      <div class="row" style="margin-bottom: 10px" *ngIf="comparison.status === -2 && system.systemComment">
        <div class="col-lg-12">
          <strong>System comment</strong>: {{system.systemComment}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div style="white-space: nowrap;height: 30px" *ngFor="let phenotype of system.phenotypes">
            <pre *ngIf="phenotype.observed === 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + phenotype.frequency.toString().split('.').join(',') + '.png)', 'color' : (phenotype.frequency == '0.75') ? 'black' : 'white'}" title="Frequency: {{frequencyDescription(phenotype.frequency)}}&#013;Onset: {{onsetDescription(phenotype.onset)}}">{{onsetAbbreviation(phenotype.onset)}}</pre>
            <pre *ngIf="phenotype.observed === 0" class="frequency-onset" [ngStyle]="{'background-image': 'none', 'color' : 'white'}" title="This phenotype is not present in all patients with this disease.">{{onsetAbbreviation(phenotype.onset)}}</pre>
            <span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}" style="cursor:help" *ngIf="phenotype.observed == 1 && phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1">{{phenotype.phenotypeName}}</span>
            <a style="cursor: pointer" (click)="openDetails(phenotype);smModal.show()" *ngIf="phenotype.observed == 1 && !(phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1)"><span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}">{{phenotype.phenotypeName}}</span></a>
            <span title="{{phenotype.phenotypeDefinition}}" style="cursor:help; color:#d9534f; text-decoration: line-through" *ngIf="phenotype.observed == 0">{{phenotype.phenotypeName}}</span>
            <img src="/assets/img/bonus.gif" style="height: 20px" *ngIf="phenotype.bonus" />
          </div>
        </div>
        <div class="col-lg-6" *ngIf="!(comparison.annotationID === comparison.compareToAnnotationID && comparison.status === -2)">
          <div style="white-space: nowrap;height: 30px" *ngFor="let phenotype of system.compareToPhenotypes">
            <pre *ngIf="phenotype.observed === 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + phenotype.frequency.toString().split('.').join(',') + '.png)', 'color' : (phenotype.frequency == '0.75') ? 'black' : 'white'}" title="Frequency: {{frequencyDescription(phenotype.frequency)}}&#013;Onset: {{onsetDescription(phenotype.onset)}}">{{onsetAbbreviation(phenotype.onset)}}</pre>
            <pre *ngIf="phenotype.observed === 0" class="frequency-onset" [ngStyle]="{'background-image': 'none', 'color' : 'white'}" title="This phenotype is not present in all patients with this disease.">{{onsetAbbreviation(phenotype.onset)}}</pre>
            <span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}" style="cursor:help" *ngIf="phenotype.observed == 1 && phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1"><i>{{phenotype.phenotypeName}}</i></span>
            <a style="cursor: pointer" (click)="openDetails(phenotype);smModal.show()" *ngIf="phenotype.observed == 1 && !(phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1)"><span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}">{{phenotype.phenotypeName}}</span></a>
            <span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}" style="cursor:help; color:#d9534f; text-decoration: line-through" *ngIf="phenotype.observed == 0"><i>{{phenotype.phenotypeName}}</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
