<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Account
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Manage your account
                </li>
            </ol>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
              {{ alert?.msg }}
            </alert>
        </div>

        <div class="col-lg-6">

            <!-- Change Password -->
            <h4>Change password</h4>
            <form role="form">
                <fieldset class="form-group">
                    <label>Old password</label>
                    <input [(ngModel)]="password" class="form-control" type="password">
                </fieldset>
                <fieldset class="form-group">
                    <label>New password</label>
                    <input [(ngModel)]="newPassword" class="form-control" type="password">
                </fieldset>
                <fieldset class="form-group">
                    <label>Retype new password</label>
                    <input [(ngModel)]="confirmNewPassword" class="form-control" type="password">
                </fieldset>
                <button type="submit" class="btn btn-primary" (click)="changePassword()">Change</button>
            </form>
          <br />
        </div>

        <div class="col-lg-6">

            <!-- Account type -->
            <h4>Account type</h4>
            <p>Your account type is <strong>{{levelString}}</strong>.</p>
            <p *ngIf="upgradeAccount && classes.length == 0">If you have an invite code, enter it here to get access to professor/researcher features, including the Phenository.</p>
            <form role="form" *ngIf="upgradeAccount && classes.length == 0">
              <fieldset class="form-group">
                <input [(ngModel)]="inviteCode" class="form-control" placeholder="Invite code">
              </fieldset>
              <button type="submit" class="btn btn-primary" (click)="accountUpgrade()">Upgrade account</button>
              <br />
              <br />
            </form>
            <p *ngIf="upgradeAccount"><span *ngIf="classes.length == 0">Don't have an invite code? </span>Please email us at <a href="mailto:{{phenotateEmail}}">{{phenotateEmail}}</a> to upgrade your account to professor/researcher.</p>

            <button type="submit" class="btn btn-secondary" (click)="showEmailPrefs = true; savedEmailPrefs = false" *ngIf="!upgradeAccount && !showEmailPrefs">Email preferences</button>
            <span *ngIf="savedEmailPrefs" style="margin-left: 10px;"><i class="fa fa-check" aria-hidden="true"></i> Saved</span>

            <div *ngIf="showEmailPrefs">

              <br />

              <!-- Email preferences -->
              <h4>Email preferences</h4>
              <p *ngIf="emailFollow">You receive an email whenever another professor/researcher publishes an annotation of a disease that you are watching. <a style="cursor: pointer" (click)="updateEmailPrefs(0, null)">Change</a></p>
              <p *ngIf="!emailFollow">You <strong>don't</strong> receive an email whenever another professor/researcher publishes an annotation of a disease that you are watching. <a style="cursor: pointer" (click)="updateEmailPrefs(1, null)">Change</a></p>
              <p *ngIf="emailLike">You receive an email whenever another professor/researcher publishes an annotation of a disease that has an annotation you recommend. <a style="cursor: pointer" (click)="updateEmailPrefs(null, 0)">Change</a></p>
              <p *ngIf="!emailLike">You <strong>don't</strong> receive an email whenever another professor/researcher publishes an annotation of a disease that has an annotation you recommend. <a style="cursor: pointer" (click)="updateEmailPrefs(null, 1)">Change</a></p>

            </div>

        </div>

    </div>

</div>
