<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group" *ngIf="studentLevel || profLevel">
        <a [routerLink]="['/dashboard', '/home']" class="list-group-item">
            <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-dashboard"></i></span> Dashboard
        </a>
        <a [routerLink]="['/dashboard', '/in-progress']" class="list-group-item" (dblclick)="gotoAnnotationID()" title="Double-click to jump to an annotation ID." *ngIf="profLevel">
            <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-pencil"></i></span> Annotator
        </a>
        <a [routerLink]="['/dashboard', '/in-progress']" class="list-group-item" (dblclick)="gotoAnnotationID()" *ngIf="studentLevel">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-pencil"></i></span> Annotator
        </a>
        <a [routerLink]="['/dashboard', '/comparator']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-columns"></i></span> Comparator
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/my-annotations']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-folder"></i></span> My annotations
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/phenository']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-cloud" aria-hidden="true"></i></span> Phenository
        </a>
        <!-- dropDown item -->
        <div class="nested-menu" *ngIf="(profLevel && classes.length > 0) || classes.length > 1">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span *ngIf="studentLevel"><span style="display: inline-block;width: 20px;"><i class="fa fa-files-o"></i></span> Exercises &#9662;</span>
                <span *ngIf="profLevel"><span style="display: inline-block;width: 20px;"><i class="fa fa-users"></i></span> My classes &#9662;</span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                <ul class="submenu" *ngFor="let class of classes">
                    <li>
                        <a [routerLink]="['/dashboard', '/class-student', class.id]" *ngIf="studentLevel"><span>{{ class.name }}</span></a>
                        <a [routerLink]="['/dashboard', '/class-prof', class.id]" *ngIf="profLevel"><span>{{ class.name }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a *ngIf="studentLevel && classes.length == 1" (click)="gotoFirstClass()" class="list-group-item" style="cursor: pointer">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-files-o"></i></span> Exercises
        </a>
        <a *ngIf="studentLevel" [routerLink]="['/dashboard', '/join-class']" class="list-group-item">
            <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-plus"></i></span> Join class
        </a>
        <a *ngIf="studentLevel" [routerLink]="['/dashboard', '/help-student']" class="list-group-item">
            <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-question"></i></span> Help
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/new-class']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-plus"></i></span> New class
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/invite']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-share" aria-hidden="true"></i></span> Invite colleagues
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/help-prof']" class="list-group-item">
          <span style="display: inline-block;width: 20px;"><i class="fa fa-fw fa-question"></i></span> Help
        </a>
    </ul>
</nav>
