<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['/dashboard', '/home']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <a [routerLink]="['/dashboard', '/in-progress']" class="list-group-item">
            <i class="fa fa-fw fa-pencil"></i> Annotator
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/my-annotations']" class="list-group-item">
          <i class="fa fa-fw fa-folder"></i> My annotations
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/phenository']" class="list-group-item">
          <i class="fa fa-cloud" aria-hidden="true"></i> Phenository
        </a>
        <!-- dropDown item -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-users"></i> &#8201;My classes &#9662;</span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                <ul class="submenu" *ngFor="let class of classes">
                    <li>
                        <a href><span>{{ class.name }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a *ngIf="studentLevel" [routerLink]="['/dashboard', '/join-class']" class="list-group-item">
            <i class="fa fa-fw fa-plus"></i> Join class
        </a>
        <a *ngIf="studentLevel" [routerLink]="['/dashboard', '/help-student']" class="list-group-item">
            <i class="fa fa-fw fa-question"></i> Help
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/new-class']" class="list-group-item">
          <i class="fa fa-fw fa-plus"></i> New class
        </a>
        <a *ngIf="profLevel" [routerLink]="['/dashboard', '/help-prof']" class="list-group-item">
          <i class="fa fa-fw fa-question"></i> Help
        </a>
    </ul>
</nav>
