<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Class name
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Start or continue an exercise
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>Exercise</th>
                        <th>Class</th>
                        <th>Due</th>
                        <th>Status/grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Somatosensory cortex</td>
                        <td>Neuro</td>
                        <td>2016-09-28 11:59 PM</td>
                        <td>In progress</td>
                    </tr>
                    <tr>
                        <td>Aorta</td>
                        <td>Cardio</td>
                        <td>2016-10-04 11:59 PM</td>
                        <td>Saved</td>
                    </tr>
                    <tr>
                        <td>Visual cortex</td>
                        <td>Neuro</td>
                        <td>2016-10-15 11:59 PM</td>
                        <td>Open</td>
                    </tr>
                    <tr>
                        <td>Insula</td>
                        <td>Neuro</td>
                        <td>78%</td>
                    </tr>
                    <tr>
                        <td>Auditory cortex</td>
                        <td>Neuro</td>
                        <td>83%</td>
                    </tr>
                    <tr>
                        <td>Glomerulus</td>
                        <td>Urol</td>
                        <td>75%</td>
                    </tr>
                </tbody>
            </table>
            <p>Grades marked with an asterisk (*) are not final and may be increased before your instructor enters the grades into your university's LMS.</p>
        </div>
    </div>

</div>