<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" *ngIf="classe">
                {{classe.className}}
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Start or continue an exercise
                </li>
            </ol>
            <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
              {{ alert?.msg }}
            </alert>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <span *ngIf="classe && classe.exercises.length === 0">
              <strong>No exercises</strong>
            </span>
            <table class="table table-hover table-sm" *ngIf="classe && classe.exercises.length > 0">
                <thead class="thead-inverse">
                    <tr>
                        <th>Exercise</th>
                        <th>Due</th>
                        <th>Status</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody *ngFor="let exercise of classe.exercises">
                    <tr>
                        <td *ngIf="(exercise.dateEnd && exercise.dateDue <= dateNow) && (exercise.numAnnotations === 0 || exercise.status === -1)">
                          {{exercise.exerciseName}}
                        </td>
                        <td *ngIf="!((exercise.dateEnd && exercise.dateDue <= dateNow) && (exercise.numAnnotations === 0 || exercise.status === -1))">
                          <a style="cursor: pointer" (click)="openExercise(exercise.exerciseID)">{{exercise.exerciseName}}</a>
                        </td>
                        <td>{{exercise.dateDue}}</td>
                        <td *ngIf="(!exercise.dateEnd || exercise.dateDue > dateNow) && exercise.numAnnotations === 0">New</td>
                        <td *ngIf="(!exercise.dateEnd || exercise.dateDue > dateNow) && exercise.numAnnotations > 0 && exercise.status === -1">In progress</td>
                        <td *ngIf="(exercise.dateEnd && exercise.dateDue <= dateNow) && (exercise.numAnnotations === 0 || exercise.status === -1)">Missed</td>
                        <td *ngIf="exercise.status === -2">Submitted</td>
                        <td><span *ngIf="exercise.possibleScore > 0">{{exercise.sumScore}} / {{exercise.possibleScore}} ({{100 * exercise.sumScore / exercise.possibleScore}}%)</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
