<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        New class
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Students access your exercises through classes.
        </li>
      </ol>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
        {{ alert?.msg }}
      </alert>
      <p>Enter the name of your class below.</p>
      <form role="form">
        <fieldset class="form-group">
          <input class="form-control" [(ngModel)]="name">
        </fieldset>
        <button type="submit" class="btn btn-primary" (click)="addNewClass()">Add</button>
      </form>
    </div>

  </div>

</div>
