<div class="container-fluid" *ngIf="classe">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        {{classe.className}}
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Manage exercises for this class
        </li>
        <li class="inactive">
          Join code: {{classe.joinCode}} (<a style="cursor:pointer;" (click)="changeJoinCode()">Change</a>)
        </li>
      </ol>
      <button class="btn btn-secondary" (click)="renameClass()">
        Rename class
      </button>
      <button class="btn btn-danger" (click)="deleteClass()" *ngIf="classe.deletable === 1">
        Delete
      </button>
      <span style="opacity: 0.5" *ngIf="classe.deletable === 1">
        <i>&emsp;You can delete this class before a student joins it.</i>
      </span>
    </div>
  </div>

  <br />

  <div class="row">

    <div class="col-lg-12">
      <tabset>
        <tab>
          <template tabHeading>
            Exercises ({{classe.exercises.length}})
          </template>
          <br />
          <div class="row">
            <div class="col-lg-8">
              <div *ngIf="classe.exercises.length === 0">
                <strong>No exercises</strong>
                <br />
                <br />
              </div>
              <div class="table-responsive" *ngIf="classe.exercises.length > 0">
                <table class="table table-hover table-sm">
                  <thead class="thead-inverse">
                  <tr>
                    <th>No.</th>
                    <th>Exercise</th>
                    <th>Start</th>
                    <th>End (due)</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let exercise of classe.exercises; let i = index">
                      <tr>
                        <td>{{i + 1}}</td>
                        <a [routerLink]="['/dashboard', '/exercise', exercise.exerciseID]">
                          <td>{{exercise.exerciseName}}</td>
                        </a>
                        <td>{{exercise.dateStart}}</td>
                        <td>{{exercise.dateEnd}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-block">
                <h4>New exercise</h4>
                <p>Exercise name:</p>
                <fieldset class="form-group">
                  <input class="form-control" [(ngModel)]="newExerciseName" (keyup.enter)="newExercise(newExerciseName)">
                </fieldset>
                <button type="submit" class="btn btn-primary" (click)="newExercise(newExerciseName)">Create</button>
              </div>
            </div>
          </div>
        </tab>
        <tab>
          <template tabHeading>
            Students ({{classe.students.length}})
          </template>
          <br />
          <p *ngIf="classe.students.length === 0">
            <strong>No students yet. Students can join your class using the join code above.</strong>
          </p>
          <!--
          <p *ngIf="classe.students.length > 0">
            Click on a student's name to remove him/her from the class.
          </p>
          -->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let student of classe.students">
              {{student.studentName}}
              <button type="button" title="Remove" style="float:right;height:25px;padding-top:1px;" class="btn btn-sm btn-danger" (click)="removeStudent(student.userID)">
                <i class="fa fa-times"></i>
              </button>
            </li>
          </ul>
        </tab>
        <tab>
          <template tabHeading>
            Export scores
          </template>
          <br />
          <p>Select what to export and file format, then click Export. Be sure to allow pop-ups!</p>
          <div class="row">
            <div class="col-lg-6">
              <h5>Export <span *ngIf="noExportType"><i class="fa fa-exclamation-triangle"></i></span></h5>
              <input type="radio" name="export" value="breakdown" id="breakdown"><label for="breakdown">&nbsp;Breakdown</label><br />
              <input type="radio" name="export" value="raw-scores" id="raw-scores"><label for="raw-scores">&nbsp;Raw scores</label><br />
              <input type="radio" name="export" value="percentages" id="percentages"><label for="percentages">&nbsp;Percentages</label><br />
            </div>
            <div class="col-lg-6">
              <h5>As</h5>
              <input type="radio" name="as" value="html" id="html" checked><label for="html">&nbsp;HTML for viewing</label><br />
              <input type="radio" name="as" value="tab-separated-values" id="tab-separated-values"><label for="tab-separated-values">&nbsp;TSV (tab-separated values)</label><br />
              <input type="radio" name="as" value="csv" id="csv"><label for="csv">&nbsp;CSV (comma-separated values)</label><br />
            </div>
          </div>
          <br />
          <center>
            <button class="btn btn-primary" (click)="exportScores()">
              Export
            </button>
          </center>
        </tab>
      </tabset>
    </div>

  </div>

</div>
