<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        My annotations
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Prepare your disease annotations and publish them to the Phenository.
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card card-block">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Disease</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>100</td>
              <td>Weill-Marchesani syndrome 1 (277600)</td>
              <td>Published</td>
            </tr>
            <tr>
              <td>132</td>
              <td>Cole disease (615522)</td>
              <td>Draft</td>
            </tr>
            <tr>
              <td>235</td>
              <td>Peeling skin syndrome 4 (607936)</td>
              <td>Draft</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-block">
        <h4>New annotation</h4>
        <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
          {{ alert?.msg }}
        </alert>
        <p>Enter disease name or ID:</p>
        <form role="form">
          <fieldset class="form-group">
            <div class="typeahead__container">
              <div class="typeahead__field">
                <span class="typeahead__query">
                    <input class="js-typeahead" autocomplete="off" [(ngModel)]="typeAheadBox">
                </span>
              </div>
            </div>
          </fieldset>
          <pre class="card card-block card-header" _ngcontent-pyb-9="" *ngIf="diseaseSelected">{{newAnnotationDisease}}</pre>
          <button *ngIf="diseaseSelected" style="margin-bottom: 4px" type="submit" class="btn btn-primary" (click)="createAnnotation()">Create annotation</button>
          <br *ngIf="diseaseSelected" />
          <button *ngIf="diseaseSelected" type="submit" class="btn btn-info" (click)="lookUpDisease()">Look up</button>
          <button *ngIf="diseaseSelected" type="submit" class="btn btn-danger" (click)="clearDisease()">Clear</button>
        </form>
      </div>
    </div>
  </div>

</div>
