<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        My annotations
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Prepare your disease annotations and publish them to the Phenository.
        </li>
      </ol>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-8">
      <div class="card card-block">
        <div class="table-responsive">
          <table id="table-my-annotations" class="table table-hover table-sm">
            <thead class="thead-default">
            <tr>
              <th>
                ID
              </th>
              <th>
                Disease
              </th>
              <th>
                Date created
              </th>
            </tr>
            </thead>
            <tbody id="table-body-my-annotations">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-block">
        <h4>New annotation</h4>
        <p>Enter disease name or ID:</p>
        <form role="form">
          <fieldset class="form-group">
            <div class="typeahead__container">
              <div class="typeahead__field">
                <span class="typeahead__query">
                    <input class="js-typeahead" autocomplete="off" [(ngModel)]="typeAheadBox">
                </span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div *ngIf="diseaseSelected" class="col-lg-7">
      <div class="card">
        <div class="card-header">
          {{newAnnotationDisease}}
        </div>
        <div class="card-block">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
            {{ alert?.msg }}
          </alert>
          <button *ngIf="diseaseSelected" class="btn btn-danger" (click)="clearDisease()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
          <button *ngIf="diseaseSelected" class="btn btn-info" (click)="lookUpDisease()">Look up</button>
          <button *ngIf="diseaseSelected" class="btn btn-primary" (click)="createAnnotation()">Start from OMIM/Ordo</button>
          <br />
          <br />
          <div class="table-responsive">
            <table id="table-annotations" class="table table-hover table-sm">
              <thead class="thead-default">
              <tr>
                <th>ID</th>
                <th><i class="fa fa-code-fork" aria-hidden="true" title="Clone of"></i></th>
                <th>Author</th>
                <th><i class="fa fa-clone" aria-hidden="true" title="Number of clones"></i></th>
                <th><i class="fa fa-thumbs-up" aria-hidden="true" title="Number of recommendations"></i></th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody id="table-body-disease">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
