<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Join class
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Join a class in order to have access to its exercises.
                </li>
            </ol>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
            {{ alert?.msg }}
          </alert>
          <p>Enter the join code for your class below. If you don't have a join code, please contact your instructor.</p>
          <form role="form">
              <fieldset class="form-group">
                  <input class="form-control" [(ngModel)]="joinCode">
              </fieldset>
              <button type="submit" class="btn btn-primary" (click)="joinClass()">Join</button>
          </form>
        </div>

    </div>

</div>
