<div class="container-fluid">

    <!-- Jumbotron -->
    <div class="jumbotron" *ngIf="studentLevel && classes.length == 0" style="background: linear-gradient(to bottom, #014f8e 0%,#0275d8 100%); color:white;">
      <h1 style="margin-bottom: 15px">Welcome to Phenotate</h1>
      <p style="cursor: pointer; display: inline-block;" (click)="gotoJoinClass()"><button class="btn btn-secondary" style="margin-right: 10px; width: 145px">Join a class</button>if you're a student.</p>
      <br />
      <p style="cursor: pointer; display: inline-block;" (click)="gotoAccount()"><button class="btn btn-secondary" style="margin-right: 10px; width: 145px">Upgrade account</button>if you're a professor/researcher.</p>
    </div>
    
    <div class="jumbotron" *ngIf="studentLevel && classes.length > 0" style="background: linear-gradient(to bottom, #014f8e 0%,#0275d8 100%); color:white;">
        <h1>Hello, {{name}}</h1>
        <p *ngIf="random === 0">
            <strong>Did you know?</strong> You can get bonus points for entering the correct frequency and age of onset. You may also receive bonus points if the frequency and age of onset are close enough.
        </p>
        <p *ngIf="random === 1">
            <strong>Did you know?</strong> When viewing your score for an exercise you submitted, be sure to click on Comparator in the sidebar to check if your professor has released a standard to which you can compare your annotation. If so, you will be able to view the score breakdown by system.
        </p>
        <p *ngIf="random === 2">
            <strong>Did you know?</strong> You can switch between diseases using the dropdown menu above the phenotype list. So, don't forget to complete annotations for all the diseases in an exercise!
        </p>
        <p *ngIf="random === 3">
            <strong>Did you know?</strong> You will receive partial marks if you enter a specific phenotype (e.g. primary open angle glaucoma) where a more general phenotype (e.g. glaucoma) is correct, and vice versa.
        </p>
        <p *ngIf="random === 4">
            <strong>Did you know?</strong> Your annotations will be used to improve the performance of clinical diagnostics software used in hospitals.
        </p>
    </div>

    <div class="row" *ngIf="studentLevel && dashboard">
        <div class="col-xl-6 col-lg-12" *ngIf="dashboard.exercisesToDo.length > 0">
            <h4>Exercises to do</h4>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Exercise</th>
                            <th>Class</th>
                            <th>Due*</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exercise of dashboard.exercisesToDo">
                            <td><a style="cursor: pointer" (click)="openExercise(exercise.exerciseID, exercise.classID)">{{exercise.exerciseName}} <i class="fa fa-pencil" *ngIf="exercise.numAnnotations > 0"></i></a></td>
                            <td><a style="cursor: pointer" (click)="gotoClass(exercise.classID)">{{exercise.className}}</a></td>
                            <td>{{exercise.dateEnd}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><i>* The exact due time for each exercise can be viewed in My Classes.</i></p>
        </div>
        <div class="col-xl-6 col-lg-12" *ngIf="dashboard.recentlyGradedExercises.length > 0">
            <h4>Recently graded and released</h4>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Exercise</th>
                            <th>Class</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exercise of dashboard.recentlyGradedExercises">
                            <td><a style="cursor: pointer" (click)="openExercise(exercise.exerciseID, exercise.classID)">{{exercise.exerciseName}}</a></td>
                            <td><a style="cursor: pointer" (click)="gotoClass(exercise.classID)">{{exercise.className}}</a></td>
                            <td>{{exercise.sumScore}} / {{exercise.possibleScore}} ({{exercise.percentScore}}%)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12" *ngIf="dashboard.exercisesToDo.length == 0 && dashboard.recentlyGradedExercises.length == 0 && classes.length > 0">
          <p>
            <strong>Welcome back! You don't have exercises to do yet.</strong>
          </p>
        </div>
    </div>

  <div style="background: linear-gradient(to bottom, #014f8e 0%,#0275d8 100%); height: 50px; color:white; margin-bottom: 20px; padding-left: 20px; padding-top: 10px; border-radius: 0.3rem" *ngIf="profLevel && !expandJumbotron">
    <h3><i>Welcome back</i><button class="btn btn-secondary btn-sm" style="float: right; margin-right: 10px" (click)="expandJumbotron = true">Getting started</button></h3>
  </div>
  
  <div class="jumbotron" *ngIf="expandJumbotron" style="background: linear-gradient(to bottom, #014f8e 0%,#0275d8 100%); color:white;">
    <h1 style="margin-bottom: 15px">Getting started</h1>
    <p style="cursor: pointer; display: inline-block;" (click)="gotoPhenository(null, null)"><button class="btn btn-secondary" style="margin-right: 10px; width: 160px"><i class="fa fa-cloud" aria-hidden="true"></i> Phenository</button>Browse, recommend, and clone annotations</p>
    <br />
    <p style="cursor: pointer; display: inline-block;" (click)="gotoMyAnnotations()"><button class="btn btn-secondary" style="margin-right: 10px; width: 160px"><i class="fa fa-fw fa-folder" aria-hidden="true"></i> My annotations</button>Create an annotation for any disease</p>
  </div>

    <div class="row" *ngIf="profLevel && dashboard">
      <div class="col-xl-6 col-lg-12" *ngIf="dashboard.latestAnnotations.length > 0">
        <h4>Latest annotations</h4>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Disease</th>
              <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annotation of dashboard.latestAnnotations">
              <td><a style="cursor: pointer" (click)="gotoAnnotation(annotation.annotationID)">{{annotation.annotationID}}</a></td>
              <td><a style="cursor: pointer" (click)="gotoPhenository(annotation.diseaseDB, annotation.diseaseName)">{{annotation.diseaseName}}</a></td>
              <td>{{annotation.authorName}}<span *ngIf="annotation.authorAdmin"> <i class="fa fa-shield" title="Phenotate administrator"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12" *ngIf="dashboard.watchedAnnotations.length > 0">
        <h4>Updates on watched diseases</h4>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Disease</th>
              <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annotation of dashboard.watchedAnnotations">
              <td><a style="cursor: pointer" (click)="gotoAnnotation(annotation.annotationID)">{{annotation.annotationID}}</a></td>
              <td><a style="cursor: pointer" (click)="gotoPhenository(annotation.diseaseDB, annotation.diseaseName)">{{annotation.diseaseName}}</a></td>
              <td>{{annotation.authorName}}<span *ngIf="annotation.authorAdmin"> <i class="fa fa-shield" title="Phenotate administrator"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="profLevel && dashboard">
      <div class="col-xl-6 col-lg-12" *ngIf="dashboard.cloneAnnotations.length > 0">
        <h4>Clones of your annotations</h4>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
              <th>ID</th>
              <th>Disease</th>
              <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let annotation of dashboard.cloneAnnotations">
              <td><a style="cursor: pointer" (click)="gotoAnnotation(annotation.annotationID)">{{annotation.annotationID}}</a></td>
              <td><a style="cursor: pointer" (click)="gotoPhenository(annotation.diseaseDB, annotation.diseaseName)">{{annotation.diseaseName}}</a></td>
              <td>{{annotation.authorName}}<span *ngIf="annotation.authorAdmin"> <i class="fa fa-shield" title="Phenotate administrator"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12" *ngIf="dashboard.exercises.length > 0">
        <h4>Current and recent exercises</h4>
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead-inverse">
            <tr>
              <th>Exercise</th>
              <th>Class</th>
              <th>Submissions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exercise of dashboard.exercises">
              <td><a style="cursor: pointer" (click)="gotoExercise(exercise.exerciseID)">{{exercise.exerciseName}}</a></td>
              <td><a style="cursor: pointer" (click)="gotoClass(exercise.classID)">{{exercise.className}}</a></td>
              <td>{{exercise.numSubmissions}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
