<div class="container-fluid">
    
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Hello, John!</h1>
        <p>
            You currently have an exercise in progress:
            <br />
            <em>Limbic system</em>
        </p>
        <p><a href="javascript:;" class="btn btn-primary btn-lg" role="button">Continue exercise »</a>
        </p>
    </div>
    
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <h4>Open exercises</h4>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Exercise</th>
                            <th>Class</th>
                            <th>Due</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Somatosensory cortex</td>
                            <td>Neuro</td>
                            <td>2016-09-28 11:59 PM</td>
                        </tr>
                        <tr>
                            <td>Aorta</td>
                            <td>Cardio</td>
                            <td>2016-10-04 11:59 PM</td>
                        </tr>
                        <tr>
                            <td>Visual cortex</td>
                            <td>Neuro</td>
                            <td>2016-10-15 11:59 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <h4>Continue an exercise</h4>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Exercise</th>
                            <th>Class</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Insula</td>
                            <td>Neuro</td>
                            <td>78%</td>
                        </tr>
                        <tr>
                            <td>Auditory cortex</td>
                            <td>Neuro</td>
                            <td>83%</td>
                        </tr>
                        <tr>
                            <td>Glomerulus</td>
                            <td>Urol</td>
                            <td>75%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>