<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Phenository
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> A central repository of published annotations. <a href="http://community.phenotate.org/topic/41/frequently-asked-question-how-do-i-add-a-disease" target="_blank">How do I add a disease?</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-5">

      <h4>Diseases</h4>

      <div class="col-lg-12" style="padding: 0">
        <div class="btn-group" _ngcontent-pyb-9="" *ngIf="!followingOnly">
          <label class="btn btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Left" _ngcontent-pyb-9="">Show all</label>
          <label class="btn btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Right" _ngcontent-pyb-9="" (click)="setFollowing(true)">Watching</label>
        </div>
        <div class="btn-group" _ngcontent-pyb-9="" *ngIf="followingOnly">
          <label class="btn btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Left" _ngcontent-pyb-9="" (click)="setFollowing(false)">Show all</label>
          <label class="btn btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Right" _ngcontent-pyb-9="">Watching</label>
        </div>
        <button class="btn btn-secondary" (click)="search()" style="float: right" title="Search">
          <i class="fa fa-search"></i>
        </button>
      </div>

      <div class="table-responsive" *ngIf="total > 0">
        <table id="tableDiseases" class="table table-hover table-sm">
          <thead class="thead-inverse">
            <tr>
              <th><i class="fa fa-eye" title="Following"></i></th>
              <th>Disease</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody id="table-body-disease">
            <tr (click)="setDisease(disease.name, disease.db)" style="cursor: pointer" *ngFor="let disease of diseases">
              <td>
                <i class="fa fa-check" *ngIf="disease.following"></i>
              </td>
              <td *ngIf="diseaseName === null || !diseaseName.includes(disease.name)">{{disease.name}}</td>
              <td *ngIf="diseaseName !== null && diseaseName.includes(disease.name)"><strong>{{disease.name}}</strong></td>
              <td style="text-align:right">{{disease.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <pager class="ng-untouched ng-pristine ng-valid" _ngcontent-pyb-9="" *ngIf="total > 0">
        <ul class="pager">
          <li>
            <a (click)="gotoFirst()" style="cursor: pointer">
              <i class="fa fa-angle-double-left"></i>
            </a>
          </li>
          <li>
            <a (click)="gotoPrevious()" style="cursor: pointer">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
          {{offset + 1}} to {{to}} of {{total}}
          <li>
            <a (click)="gotoNext()" style="cursor: pointer">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <a (click)="gotoLast()" style="cursor: pointer">
              <i class="fa fa-angle-double-right"></i>
            </a>
          </li>
        </ul>
      </pager>
      
      <strong *ngIf="total == 0">Nothing to show</strong>

    </div>

    <div class="col-lg-7">

      <h4>Annotations</h4>

      <div class="card">
        <div class="card-header">
          {{diseaseName}}
        </div>
        <div class="card-block" *ngIf="diseaseName === null && noDiseaseOfTheDay">
          Please select a disease on the left.
        </div>
        <div class="card-block" *ngIf="diseaseName !== null">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
            {{ alert?.msg }}
          </alert>
          <div dropdown keyboardNav="true" style="display: inline">
            <button dropdownToggle id="simple-dropdown" class="btn btn-primary dropdown-toggle">
              New
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem"><a class="dropdown-item" (click)="createAnnotation(false, false)" style="cursor: pointer" *ngIf="prefillAvailable">From {{diseaseNameDB.toUpperCase()}}</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="createAnnotation(true, false)" style="cursor: pointer">From scratch</a></li>
            </ul>
          </div>
          <button class="btn btn-info" (click)="lookUpDisease()">
            <i class="fa fa-book" aria-hidden="true"></i> Look up
          </button>
          <button class="btn btn-secondary" (click)="createAnnotation(false, true)">
            View {{diseaseNameDB.toUpperCase()}} annotation
          </button>
          <button class="btn btn-secondary" (click)="toggleFollow()" *ngIf="!following">
            <i class="fa fa-eye" aria-hidden="true"></i> Watch
          </button>
          <button class="btn btn-success" (click)="toggleFollow()" *ngIf="following">
            <i class="fa fa-check" aria-hidden="true"></i> Watching
          </button>
          <br />
          <br />
          <div class="table-responsive">
            <table id="table-annotations" class="table table-hover table-sm">
              <thead class="thead-default">
              <tr>
                <th>ID</th>
                <th><i class="fa fa-code-fork" title="Based on"></i></th>
                <th>Author</th>
                <th><i class="fa fa-clone" title="Number of clones"></i></th>
                <th><i class="fa fa-thumbs-o-up" title="Number of recommendations"></i></th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody id="table-body-annotations">
              </tbody>
            </table>
          </div>
          <img src="assets/img/disease-of-the-day.gif" width="150px" style="margin-top: 10px;"
               *ngIf="(diseaseName === diseaseOfTheDay && diseaseNameDB === diseaseOfTheDayDB)" />
        </div>
      </div>
    </div>

  </div>

</div>
