<div class="container-fluid">

    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <br />
          <div class="modal-header">
            <h4 class="modal-title">Share this invite code: {{inviteCode}}</h4>
          </div>
          <div class="modal-body">
            This link automatically fills in the invite code during registration.
            <br />
            Click on the address to copy it to the clipboard.
            <form role="form" style="margin-top: 10px;">
              <fieldset class="form-group">
                <input class="form-control" [(ngModel)]="'http://app.phenotate.org/signup/' + inviteCode" onfocus="this.select();document.execCommand('copy');" (click)="inviteLinkCopied = true" readonly>
              </fieldset>
              <button class="btn btn-primary" (click)="lgModal.hide();">Close</button>
              <button class="btn btn-danger" (click)="lgModal.hide();removeInviteCode(inviteCodeID)">Remove</button>
              <span *ngIf="inviteLinkCopied" style="margin-left: 10px;"><i class="fa fa-check" aria-hidden="true"></i> Copied to clipboard</span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Invite colleagues
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Invite your colleagues to come help build the Phenository.
                </li>
            </ol>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
            {{ alert?.msg }}
          </alert>
          <p>Users with invite codes can get instant access to professor/researcher accounts. Here, you can generate up to 10 invite codes to send to your colleagues. Please email us at <a href="mailto:{{phenotateEmail}}">{{phenotateEmail}}</a> if you need more.</p>
          <p><strong>Please do not manipulate Phenository recommendations by creating and using multiple professor/researcher accounts. All offending accounts will be disabled.</strong></p>
          <div class="table-responsive" *ngIf="inviteCodes.length > 0">
            <table class="table table-hover table-sm">
              <thead class="thead-inverse">
                <tr>
                    <th>Invite code</th>
                    <th>Date created</th>
                    <th>Redeemed by</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inviteCode of inviteCodes">
                    <td *ngIf="inviteCode.redeemedByName" style="text-decoration: line-through">{{inviteCode.inviteCode}}</td>
                    <td *ngIf="!inviteCode.redeemedByName" style="font-weight: bold"><a style="cursor: pointer" (click)="lgModal.show(); assignInviteCode(inviteCode.inviteCode, inviteCode.inviteCodeID)">{{inviteCode.inviteCode}}</a></td>
                    <td>{{inviteCode.dateCreated}}</td>
                    <td>{{inviteCode.redeemedByName}}<span *ngIf="inviteCode.redeemedByEmail"> &lt;{{inviteCode.redeemedByEmail}}&gt;</span></td>
                </tr>
              </tbody>
            </table>
            </div>
          <button type="submit" class="btn btn-primary" (click)="generateInviteCode()">Generate an invite code</button>
        </div>

    </div>

</div>
