<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Help
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-info-circle"></i> Instructions for using Phenotate
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
          <ol>
            <li><a href="http://community.phenotate.org/topic/40/introduction" target="_blank">Introduction</a></li>
            <li><a href="http://community.phenotate.org/topic/39/dashboard" target="_blank">Dashboard</a></li>
            <li><a href="http://community.phenotate.org/topic/38/join-class" target="_blank">Join class</a></li>
            <li><a href="http://community.phenotate.org/topic/37/my-classes" target="_blank">My classes</a></li>
            <li><a href="http://community.phenotate.org/topic/36/annotator" target="_blank">Annotator</a></li>
            <li><a href="http://community.phenotate.org/topic/33/comparator" target="_blank">Comparator</a></li>
          </ol>
          <p>
            Questions or comments? Post them in the <a href="http://community.phenotate.org/category/4/comments-feedback" target="_blank">Community</a>!
          </p>
        </div>
    </div>

</div>
