<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Help
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Instructions for using Phenotate
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ol>
        <li><a href="http://community.phenotate.org/topic/32/introduction" target="_blank">Introduction</a></li>
        <li><a href="http://community.phenotate.org/topic/31/dashboard" target="_blank">Dashboard</a></li>
        <li><a href="http://community.phenotate.org/topic/30/phenository" target="_blank">Phenository</a></li>
        <li><a href="http://community.phenotate.org/topic/29/my-annotations" target="_blank">My annotations</a></li>
        <li><a href="http://community.phenotate.org/topic/28/annotator" target="_blank">Annotator</a></li>
        <li><a href="http://community.phenotate.org/topic/27/comparator-part-i" target="_blank">Comparator: Part I</a></li>
        <li><a href="http://community.phenotate.org/topic/26/new-class" target="_blank">New class</a></li>
        <li><a href="http://community.phenotate.org/topic/25/my-classes" target="_blank">My classes</a></li>
        <li><a href="http://community.phenotate.org/topic/24/exercise" target="_blank">Exercise</a></li>
        <li><a href="http://community.phenotate.org/topic/23/comparator-part-ii" target="_blank">Comparator: Part II</a></li>
      </ol>
    </div>
  </div>

</div>
