<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">
        Prepare annotation
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Created on 2015-05-05 by John Smith &lt;jsmith@example.com&gt;
        </li>
      </ol>
      <button class="btn btn-primary" (click)="createAnnotation()">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Submit
      </button>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-8">

    </div>

    <div class="col-lg-4">
    </div>

  </div>

</div>
