<div class="container-fluid">

  <div class="add-bar" style="display: none">
    <form role="form">
      <div class="typeahead__container" style="width:40%; position: fixed; bottom: 8px; margin-left: 5%">
        <div class="typeahead__field">
          <span class="typeahead__query">
              <input class="js-typeahead" autocomplete="off" placeholder="Add a phenotype">
          </span>
        </div>
      </div>
      <div class="typeahead__container" style="width:20%; position: fixed; bottom: 8px; right: 5%">
        <div class="typeahead__field">
          <span class="typeahead__query">
              <input class="js-typeahead-ref" autocomplete="off" placeholder="Add a reference">
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="hover-box" style="display: none">
    Loading…
  </div>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">Start discussion</h4>
        </div>
        <div class="modal-body">
          <strong>Enter your message below.</strong> To hide this box and view the rest of the annotation, click outside of the dialog box. Don't worry, Phenotate will remember what you have typed so far.
          <form role="form" style="margin-top: 10px;">
            <fieldset class="form-group">
              <input class="form-control" [(ngModel)]="startDiscussionMessage">
            </fieldset>
            <button type="submit" class="btn btn-primary" (click)="lgModal.hide();startDiscussion()">Post message</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #share="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">Share link</h4>
        </div>
        <div class="modal-body">
          Anyone with the address below can view this annotation.
          <br />
          Click on the address to copy it to the clipboard.
          <form role="form" style="margin-top: 10px;">
            <fieldset class="form-group">
              <input class="form-control" [(ngModel)]="shareLink" onfocus="this.select();document.execCommand('copy');" (click)="shareLinkCopied = true" readonly>
            </fieldset>
            <button class="btn btn-primary" (click)="share.hide();">Close</button>
            <button class="btn btn-danger" (click)="share.hide();unshareAnnotation()">Revoke</button>
            <span *ngIf="shareLinkCopied" style="margin-left: 10px;"><i class="fa fa-check" aria-hidden="true"></i> Copied to clipboard</span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #browser="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" *ngIf="currentPhenotype">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">{{currentPhenotype.name}}</h4>
        </div>
        <div class="modal-body">
          <p *ngIf="currentPhenotype.hpo != 'HP:0000118'">
            <strong *ngIf="profLevel">
              {{currentPhenotype.hpo}}
            </strong>
            {{currentPhenotype.definition}}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <h5>More general phenotypes</h5>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let generalPhenotype of currentPhenotype.generalPhenotypes">
                  <a (click)="gotoPhenotype(generalPhenotype)" style="cursor: pointer">
                    {{generalPhenotype.name}}
                  </a>
                </li>
                <li class="list-group-item" *ngIf="currentPhenotype.generalPhenotypes.length == 0">
                  <strong>No more</strong>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h5>More specific phenotypes</h5>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let specificPhenotype of currentPhenotype.specificPhenotypes">
                  <a (click)="gotoPhenotype(specificPhenotype)" style="cursor: pointer">
                    {{specificPhenotype.name}}
                  </a>
                </li>
                <li class="list-group-item" *ngIf="currentPhenotype.specificPhenotypes.length == 0">
                  <strong>No more</strong>
                </li>
              </ul>
            </div>
          </div>
          <br />
          <button class="btn btn-primary" (click)="browser.hide();selectPhenotype()" *ngIf="addingBrowser" [disabled]="currentPhenotype.hpo == 'HP:0000118'">Add this phenotype</button>
          <button class="btn btn-primary" (click)="browser.hide();selectPhenotype()" *ngIf="!addingBrowser" [disabled]="currentPhenotype.hpo == 'HP:0000118'">Change to this phenotype</button>
          <button class="btn btn-secondary" (click)="browser.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" *ngIf="detailedPhenotype">
        <br />
        <div class="modal-header">
          <h4 class="modal-title">{{detailedPhenotype.phenotypeName}}</h4>
        </div>
        <div class="modal-body">
          <strong>Pace of progression</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.progression" (change)="setDetail('progression', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option value="HP:0003680">Nonprogressive</option>
            <option value="HP:0003677">Slow progression</option>
            <option value="HP:0003676">Progressive</option>
            <option value="HP:0003678">Rapidly progressive</option>
            <option value="HP:0003682">Variable progression rate</option>
          </select>
          <br />
          <strong>Severity</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.severity" (change)="setDetail('severity', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option value="HP:0012827" title="Having a minor degree of severity that is considered to be on the boundary between the normal and the abnormal ranges. For quantitative traits, a deviation of that is less than two standard deviations from the appropriate population mean.">Borderline</option>
            <option value="HP:0012825" title="Having a relatively minor degree of severity. For quantitative traits, a deviation of between two and three standard deviations from the appropriate population mean.">Mild</option>
            <option value="HP:0012826" title="Having a medium degree of severity. For quantitative traits, a deviation of between three and four standard deviations from the appropriate population mean.">Moderate</option>
            <option value="HP:0012828" title="Having a high degree of severity. For quantitative traits, a deviation of between four and five standard deviations from the appropriate population mean.">Severe</option>
            <option value="HP:0012829" title="Having an extremely high degree of severity. For quantitative traits, a deviation of more than five standard deviations from the appropriate population mean.">Profound</option>
          </select>
          <br />
          <strong>Temporal pattern</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.temporalPattern" (change)="setDetail('temporal_pattern', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option value="HP:0003587" title="Gradual, very slow onset of disease manifestations.">Insidious onset</option>
            <option value="HP:0011010" title="Slow, creeping onset, slow progress and long continuance of disease manifestations.">Chronic</option>
            <option value="HP:0011011" title="Somewhat rapid onset and change of disease manifestations.">Subacute</option>
            <option value="HP:0011009" title="Sudden appearance of disease manifestations over a short period of time.">Acute</option>
          </select>
          <br />
          <strong>Spatial pattern</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.spatialPattern" (change)="setDetail('spatial_pattern', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option value="HP:0012837" title="Affecting all regions without specificity of distribution.">Generalized</option>
            <option value="HP:0012838" title="Being confined or restricted to a particular location.">Localized</option>
            <option value="HP:0012839" title="Localized away from the central point of the body.">– Distal</option>
            <option value="HP:0012840" title="Localized close to the central point of the body.">– Proximal</option>
            <option value="HP:0030645">– Central</option>
          </select>
          <br />
          <strong>Laterality</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.laterality"  (change)="setDetail('laterality', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option value="HP:0012832" title="Being present on both sides of the body.">Bilateral</option>
            <option value="HP:0012833" title="Being present on only the left or only the right side of the body.">Unilateral</option>
            <option value="HP:0012834" title="Being located on the right side of the body.">Right</option>
            <option value="HP:0012835" title="Being located on the left side of the body.">Left</option>
          </select>
          <br />
          <strong>Specific age of onset</strong>
          <br />
          <select style="width: 250px; margin-bottom: 10px" [(ngModel)]="detailedPhenotype.specificOnset" (change)="setDetail('specific_onset', $event.target.value)" [disabled]="annotation.status === 2 || annotation.status === -2">
            <option value="-1">N/A</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' || detailedPhenotype.onsetTo == 'HP:0030674'" value="HP:0011460" title="Onset of disease at up to 8 weeks of gestation.">Embryonal onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' || detailedPhenotype.onsetTo == 'HP:0030674'" value="HP:0011461" title="Onset prior to birth but after 8 weeks of gestation.">Fetal onset</option>

            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == '-1'" value="HP:9999990" title="Onset of disease any time prior to birth.">Embryonal / Fetal onset</option>

            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' || detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:0011462" title="Onset of disease at the age of between 16 and 40 years.">Young adult onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' || detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:0003596" title="A type of adult onset with onset of symptoms at the age of 40 to 60 years.">Middle age onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' || detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:0003584" title="A type of adult onset with onset of symptoms after the age of 60 years.">Late onset</option>

            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' && detailedPhenotype.onsetTo == '-1'" value="HP:9999991" title="Onset of disease at the age of between 16 and 60 years.">Young adult / middle age onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' && detailedPhenotype.onsetTo == '-1'" value="HP:9999992" title="A type of adult onset with onset of symptoms after the age of 40 years.">Middle age / late onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0003581' && detailedPhenotype.onsetTo == '-1'" value="HP:9999993" title="A type of adult onset with onset of symptoms after the age of 16 years.">Young adult – late onset</option>

            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999994" title="Onset of disease up to the age of 40 years.">Embryonal – young adult onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999995" title="Onset of disease up to the age of 60 years.">Embryonal – middle age onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999996" title="Onset of disease at any time.">Embryonal – late onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999997" title="Onset of disease after 8 weeks of gestation up to the age of 40 years.">Fetal – young adult onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999998" title="Onset of disease after 8 weeks of gestation up to the age of 60 years.">Fetal – middle age onset</option>
            <option *ngIf="detailedPhenotype.onset == 'HP:0030674' && detailedPhenotype.onsetTo == 'HP:0003581'" value="HP:9999999" title="Onset of disease at any time after 8 weeks of gestation.">Fetal – late onset</option>
          </select>
          <div style="margin-bottom: 10px" *ngIf="detailedPhenotype.onset != 'HP:0030674' && detailedPhenotype.onset != 'HP:0003581' && detailedPhenotype.onsetTo != 'HP:0030674' && detailedPhenotype.onsetTo != 'HP:0003581'">
            <i>Only antenatal and adult onsets have more specific onsets.</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" *ngIf="annotation == null">
        Annotator
      </h2>
      <h2 class="page-header" *ngIf="annotation != null && annotation.status == 1">
        <span style="background: black;color: white;"><i class="fa fa-fw fa-pencil"></i></span> {{annotation.disease.diseaseName}}
      </h2>
      <h2 class="page-header" id="exercise-header" *ngIf="annotation != null && annotation.status <= 0">
        {{annotation.exerciseName}}
        <a (click)="closeAnnotation()" style="color:#455A64; cursor: pointer;">
          <i class="fa fa-times-circle-o" title="Close" style="font-size: 20px; vertical-align: 4px;"></i>
        </a>
      </h2>
      <h2 class="page-header" *ngIf="annotation != null && annotation.status == 2">
        <span style="background: black;color: white;">&nbsp;{{annotation.annotationID}}&nbsp;</span> {{annotation.disease.diseaseName}}
      </h2>
      <ol class="breadcrumb" *ngIf="annotation != null">
        <li class="inactive" *ngIf="annotation.status == 1 || annotation.status == -1">
          <i class="fa fa-info-circle"></i> Created on {{annotation.dateCreated}} by {{annotation.author.userName}}
          <span *ngIf="annotation.author.userAdmin"><i class="fa fa-shield" title="Phenotate administrator"></i></span>
          <span *ngIf="!annotation.author.userAdmin">&lt;{{annotation.author.userEmail}}&gt;</span>
        </li>
        <li class="inactive" *ngIf="annotation.status == 2">
          <i class="fa fa-info-circle"></i> Published on {{annotation.datePublished}} by {{annotation.author.userName}}
          <span *ngIf="annotation.author.userAdmin"><i class="fa fa-shield" title="Phenotate administrator"></i></span>
          <span *ngIf="!annotation.author.userAdmin">&lt;{{annotation.author.userEmail}}&gt;</span>
        </li>
        <li class="inactive" *ngIf="annotation.status == -2">
          <i class="fa fa-info-circle"></i> Submitted on {{annotation.datePublished}} by {{annotation.author.userName}}
          &lt;{{annotation.author.userEmail}}&gt;
        </li>
        <li class="active" *ngIf="annotation.status > 0 && annotation.cloneOf === null">
          Based on {{annotation.disease.diseaseDB.toUpperCase()}}
        </li>
        <li class="active" *ngIf="annotation.status > 0 && annotation.cloneOf !== null" (click)="jumpToAnnotation(annotation.cloneOf)" style="cursor: pointer">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          Based on annotation {{annotation.cloneOf}}
        </li>
      </ol>
      <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
        {{ alert?.msg }}
      </alert>
      <div *ngIf="annotation != null">
        <button class="btn btn-primary" (click)="publishAnnotation()" *ngIf="annotation.status == 1" [disabled]="annotation.phenotypes.length == 0">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i> Publish
        </button>
        <button class="btn btn-danger" (click)="deleteAnnotation()" *ngIf="annotation.status == 1">
          Delete
        </button>
        <button class="btn btn-primary" (click)="submitExercise(annotation.exerciseID)" *ngIf="annotation.status == -1">
          Submit
        </button>
        <button class="btn btn-secondary" (click)="gotoPhenository(annotation.disease.diseaseDB, annotation.disease.diseaseName)" *ngIf="!studentLevel && profLevel" style="color:#0275d8" title="View in Phenository">
          <i class="fa fa-cloud"></i>
        </button>
        <button class="btn btn-info" (click)="lookUpDisease(annotation.disease.diseaseDB, annotation.disease.diseaseName)" *ngIf="profLevel" style="margin-right: 10px" title="Look up">
          <i class="fa fa-book"></i>
        </button>
        <button class="btn btn-info" *ngIf="!studentLevel && profLevel && annotation.communityTopicID && annotation.status == 2" title="Phenotate Community" (click)="gotoDiscussion(annotation.communityTopicID)" title="Go to discussion">
          <i class="fa fa-comments"></i>
        </button>
        <button class="btn btn-info" *ngIf="!studentLevel && profLevel && !annotation.communityTopicID && annotation.status == 2" title="Phenotate Community" (click)="lgModal.show()" title="Start discussion">
          <i class="fa fa-comments"></i>
        </button>
        <button class="btn btn-secondary" (click)="share.show(); shareAnnotation()" *ngIf="!studentLevel && profLevel && annotation.status == 2" style="margin-right: 10px">
          <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </button>
        <button class="btn btn-secondary" (click)="cloneAnnotation()" *ngIf="!studentLevel && profLevel && annotation.status == 2">
          <i class="fa fa-clone" aria-hidden="true"></i> Clone
        </button>
        <button class="btn btn-secondary" (click)="likeAnnotation(true)"  *ngIf="!studentLevel && profLevel && annotation.status == 2 && !annotation.liked">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Recommend ({{annotation.likes}})
        </button>
        <button class="btn btn-warning" (click)="likeAnnotation(false)"  *ngIf="!studentLevel && profLevel && annotation.status == 2 && annotation.liked">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Recommend ({{annotation.likes}})
        </button>
        <span style="opacity: 0.5" *ngIf="!studentLevel && profLevel && annotation.status == 2 && !annotation.liked">
          <i>&emsp;You can recommend one annotation for each disease.</i>
        </span>
        <span style="opacity: 0.5" *ngIf="!studentLevel && profLevel && annotation.status == 2 && annotation.liked">
          <i>&emsp;You recommend this annotation for this disease.</i>
        </span>
        <button class="btn btn-primary" (click)="signUp()" *ngIf="studentLevel && profLevel">
          <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Sign up for Phenotate
        </button>
        <button class="btn btn-secondary" (click)="logIn()" *ngIf="studentLevel && profLevel">
          <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Log in
        </button>
        <span style="opacity: 0.5" *ngIf="studentLevel && profLevel">
          <i>&emsp;An account lets you clone and improve this annotation!</i>
        </span>
        <div class="card card-block" *ngIf="annotation.status == -2 && annotation.released" style="margin-top: 10px;">
          <p><strong>Score (out of 1; blank means "not graded")</strong>: {{annotation.score}}</p>
          <p *ngIf="annotation.memo"><strong>Overall comments</strong>: {{annotation.memo}}</p>
          <p *ngIf="annotation.compareToAnnotationID"><strong>Breakdown and additional scores/comments are available in the <a style="cursor: pointer" (click)="gotoComparator()">Comparator</a>.</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px" *ngIf="annotation != null">

    <div class="col-lg-8">
      <tabset>
        <tab>

          <template tabHeading *ngIf="annotation.status <= 0 && annotation.exerciseAnnotations.length > 1">
            <div dropdown keyboardNav="true">
              Select disease:
              <a href id="simple-dropdown" dropdownToggle>
                {{annotation.disease.diseaseName}}
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li role="menuitem"><a class="dropdown-item" *ngFor="let exerciseAnnotation of annotation.exerciseAnnotations" (click)="jumpToAnnotation(exerciseAnnotation.annotationID)">{{exerciseAnnotation.diseaseName}}</a></li>
              </ul>
            </div>
          </template>

          <template tabHeading *ngIf="annotation.status <= 0 && annotation.exerciseAnnotations.length == 1">
            Disease: {{annotation.disease.diseaseName}}
          </template>

          <template tabHeading *ngIf="annotation.status > 0">
            Phenotypes
          </template>

          <br />

          <img *ngIf="annotation.phenotypes.length > 0 && loading" src="/assets/img/loading.gif"/>

          <p *ngIf="annotation.phenotypes.length == 0">
            <strong style="color: #FF9800">Add a phenotype using the bottom bar.</strong>
          </p>

          <div *ngFor="let systemName of systemNames" id="system-{{idFormat(systemName)}}">

            <table class="table table-hover table-sm" *ngIf="annotation.status == 1 || annotation.status == -1">
              <thead class="thead-inverse">
                <tr>
                  <th>{{systemName}}</th>
                </tr>
              </thead>
            </table>

            <div class="card card-block card-header" *ngIf="annotation.status == 2 || annotation.status == -2" style="border-radius: 0.25rem">
              <strong>
                {{systemName}}
              </strong>
            </div>

            <div *ngFor="let phenotype of annotation.phenotypes" class="phenotypes" id="phenotype-{{phenotype.phenotypeID}}">

              <div style="white-space: nowrap;height: 30px" *ngIf="phenotype.systemName === systemName && (annotation.status === 2 || annotation.status === -2)">
                <pre *ngIf="phenotype.observed === 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + roundToPercent(phenotype.frequency) + '.png)'}">{{onsetAbbreviation(phenotype.onset, phenotype.onsetTo)}}</pre>
                <pre *ngIf="phenotype.observed === 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + roundToPercent(phenotype.frequencyTo) + '.png)', 'opacity' : (roundToPercent(phenotype.frequencyTo) === -1) ? '0' : '0.5'}" title="Frequency: {{frequencyDescription(phenotype.frequency, phenotype.frequencyTo)}}&#013;Onset: {{onsetDescription(phenotype.onset, phenotype.onsetTo)}}">{{onsetAbbreviation(phenotype.onset, phenotype.onsetTo)}}</pre>
                <span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}" style="cursor:help; margin-left:85px" *ngIf="phenotype.observed == 1 && phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1">{{phenotype.phenotypeName}}</span>
                <a style="cursor: pointer; margin-left:85px" (click)="openDetails(phenotype);smModal.show()" *ngIf="phenotype.observed == 1 && !(phenotype.specificOnset == -1 && phenotype.progression == -1 && phenotype.severity == -1 && phenotype.temporalPattern == -1 && phenotype.spatialPattern == -1 && phenotype.laterality == -1)"><span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}">{{phenotype.phenotypeName}} <img src="/assets/img/details.gif" style="height: 20px" /></span></a>
                <span title="{{(profLevel) ? phenotype.hpo + ' ' + phenotype.phenotypeDefinition : phenotype.phenotypeDefinition}}" style="cursor:help; color:#d9534f; text-decoration: line-through; margin-left:85px" *ngIf="phenotype.observed == 0">{{phenotype.phenotypeName}}</span>
                <sup>
                <span *ngFor="let citation of phenotype.citations; let i = index">{{(i > 0) ? ', ' : ''}}{{citation.number}}</span>
                </sup>
              </div>

              <div class="card card-block phenotype" *ngIf="phenotype.display && phenotype.systemName === systemName && (annotation.status === 1 || annotation.status === -1)">
                <div class="btn-group" _ngcontent-pyb-9="" *ngIf="phenotype.observed == 1" style="float: right; margin-top: -4px">
                  <label title="Observed" class="btn btn-sm btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Left" _ngcontent-pyb-9="" (click)="setObserved(phenotype.phenotypeID, true)">Y</label>
                  <label title="Not observed" class="btn btn-sm btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Right" _ngcontent-pyb-9="" (click)="setObserved(phenotype.phenotypeID, false)"><span style="color:#d9534f">N</span></label>
                </div>
                <div class="btn-group" _ngcontent-pyb-9="" *ngIf="phenotype.observed == 0" style="float: right; margin-top: -4px">
                  <label title="Observed" class="btn btn-sm btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Left" _ngcontent-pyb-9="" (click)="setObserved(phenotype.phenotypeID, true)">Y</label>
                  <label title="Not observed" class="btn btn-sm btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Right" _ngcontent-pyb-9="" (click)="setObserved(phenotype.phenotypeID, false)"><span style="color:#d9534f">N</span></label>
                </div>
                <i class="fa fa-exclamation-circle" aria-hidden="true" *ngIf="phenotype.citations.length == 0 && markUncitedPhenotypes && annotation.status != 2 && annotation.status != -2" style="float: right;margin-top: 3px; margin-right: 10px" title="No citations"></i>
                <div class="ok" (click)="setObserved(phenotype.phenotypeID, (phenotype.observed == 1))" title="This phenotype was imported. Click (or edit the phenotype) to confirm that it is correct." *ngIf="phenotype.notOK == 1 && annotation.cloneOf == null"></div>
                <div class="ok" (click)="setObserved(phenotype.phenotypeID, (phenotype.observed == 1))" title="This phenotype was cloned. Click (or edit the phenotype) to confirm that it is correct." *ngIf="phenotype.notOK == 1 && annotation.cloneOf != null"></div>
                <pre *ngIf="phenotype.observed == 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + roundToPercent(phenotype.frequency) + '.png)', 'margin-top' : '-1px'}">{{onsetAbbreviation(phenotype.onset, phenotype.onsetTo)}}</pre>
                <pre *ngIf="phenotype.observed == 1" class="frequency-onset" [ngStyle]="{'background-image': 'url(/assets/img/' + roundToPercent(phenotype.frequencyTo) + '.png)', 'opacity' : (roundToPercent(phenotype.frequencyTo) === -1) ? '0' : '0.5', 'margin-top' : '-1px'}" title="Frequency: {{frequencyDescription(phenotype.frequency, phenotype.frequencyTo)}}&#013;Onset: {{onsetDescription(phenotype.onset, phenotype.onsetTo)}}">{{onsetAbbreviation(phenotype.onset, phenotype.onsetTo)}}</pre>
                <h6 title="{{phenotype.phenotypeDefinition}}" style="cursor:help; margin-top:3px; margin-left: 85px" *ngIf="phenotype.observed == 1 && studentLevel">{{phenotype.phenotypeName}}</h6>
                <h6 title="{{phenotype.hpo}} {{phenotype.phenotypeDefinition}}" style="cursor:help; margin-top:3px; margin-left: 85px" *ngIf="phenotype.observed == 1 && profLevel">{{phenotype.phenotypeName}}</h6>
                <h6 title="{{phenotype.phenotypeDefinition}}" style="cursor:help; color:#d9534f; text-decoration: line-through; margin-top:3px; margin-left: 85px" *ngIf="phenotype.observed == 0 && studentLevel">{{phenotype.phenotypeName}}</h6>
                <h6 title="{{phenotype.hpo}} {{phenotype.phenotypeDefinition}}" style="cursor:help; color:#d9534f; text-decoration: line-through; margin-top:3px; margin-left: 85px" *ngIf="phenotype.observed == 0 && profLevel">{{phenotype.phenotypeName}}</h6>
                <div class="row" style="margin-top: 22px" *ngIf="phenotype.observed == 1">
                  <div [class]="(phenotype.frequency != -1 && phenotype.frequency != 1) ? 'col-lg-3' : 'col-lg-6'">
                    <select class="form-control" [(ngModel)]="phenotype.frequency" (change)="setFrequency(phenotype.phenotypeID, $event.target.value, phenotype.frequencyTo)" style="color:black">
                      <option value="-1">Frequency unsure</option>
                      <option value="0.01">Very rare (1%)</option>
                      <option value="0.05">Rare (5%)</option>
                      <option value="0.075">Occasional (7.5%)</option>
                      <option value="0.33">Frequent (33%)</option>
                      <option value="0.5">Typical (50%)</option>
                      <option value="0.75">Common (75%)</option>
                      <option value="0.9">Hallmark (90%)</option>
                      <option value="1">Obligate (100%)</option>
                      <option value="{{phenotype.frequency}}" *ngIf="phenotype.frequency != -1 && phenotype.frequency != 0.01 && phenotype.frequency != 0.05 && phenotype.frequency != 0.075 && phenotype.frequency != 0.33 && phenotype.frequency != 0.5 && phenotype.frequency != 0.75 && phenotype.frequency != 0.9 && phenotype.frequency != 1">{{roundToPercentDec(phenotype.frequency)}}%</option>
                      <option value="0">Other…</option>
                    </select>
                  </div>
                  <div class="col-lg-3" *ngIf="phenotype.frequency != -1 && phenotype.frequency != 1">
                    <select class="form-control" [(ngModel)]="phenotype.frequencyTo" (change)="setFrequency(phenotype.phenotypeID, phenotype.frequency, $event.target.value)" style="color:black">
                      <option value="-1">No range</option>
                      <option *ngIf="phenotype.frequency < 0.05" value="0.05">to rare (5%)</option>
                      <option *ngIf="phenotype.frequency < 0.075" value="0.075">to occasional (7.5%)</option>
                      <option *ngIf="phenotype.frequency < 0.33" value="0.33">to frequent (33%)</option>
                      <option *ngIf="phenotype.frequency < 0.5" value="0.5">to typical (50%)</option>
                      <option *ngIf="phenotype.frequency < 0.75" value="0.75">to common (75%)</option>
                      <option *ngIf="phenotype.frequency < 0.9" value="0.9">to hallmark (90%)</option>
                      <option value="1">to obligate (100%)</option>
                      <option value="{{phenotype.frequencyTo}}" *ngIf="phenotype.frequencyTo != -1 && phenotype.frequencyTo != 0.01 && phenotype.frequencyTo != 0.05 && phenotype.frequencyTo != 0.075 && phenotype.frequencyTo != 0.33 && phenotype.frequencyTo != 0.5 && phenotype.frequencyTo != 0.75 && phenotype.frequencyTo != 0.9 && phenotype.frequencyTo != 1">{{roundToPercentDec(phenotype.frequencyTo)}}%</option>
                      <option value="0">to other…</option>
                    </select>
                  </div>
                  <div [class]="(phenotype.onset != '-1' && phenotype.onset != 'HP:0003581') ? 'col-lg-3' : 'col-lg-6'">
                    <select class="form-control" [(ngModel)]="phenotype.onset" (change)="setOnset(phenotype.phenotypeID, $event.target.value, phenotype.onsetTo)" style="color:black">
                      <option value="-1">Onset unsure</option>
                      <option value="HP:0030674">Antenatal (before birth)</option>
                      <option value="HP:0003577">Congenital (at birth)</option>
                      <option value="HP:0003623">Neonatal (0 to 28 days)</option>
                      <option value="HP:0003593">Infantile (28 days to 1 year)</option>
                      <option value="HP:0011463">Childhood (1 to 5 years)</option>
                      <option value="HP:0003621">Juvenile (5 to 15 years)</option>
                      <option value="HP:0003581">Adult (16 years or later)</option>
                    </select>
                  </div>
                  <div class="col-lg-3" *ngIf="phenotype.onset != '-1' && phenotype.onset != 'HP:0003581'" style="color:black">
                    <select class="form-control" [(ngModel)]="phenotype.onsetTo" (change)="setOnset(phenotype.phenotypeID, phenotype.onset, $event.target.value)">
                      <option value="-1">No range</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674'" value="HP:0003577">to congenital (at birth)</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674' || phenotype.onset == 'HP:0003577'" value="HP:0003623">to neonatal (0 to 28 days)</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674' || phenotype.onset == 'HP:0003577' || phenotype.onset == 'HP:0003623'" value="HP:0003593">to infantile (28 days to 1 year)</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674' || phenotype.onset == 'HP:0003577' || phenotype.onset == 'HP:0003623' || phenotype.onset == 'HP:0003593'" value="HP:0011463">to childhood (1 to 5 years)</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674' || phenotype.onset == 'HP:0003577' || phenotype.onset == 'HP:0003623' || phenotype.onset == 'HP:0003593' || phenotype.onset == 'HP:0011463'" value="HP:0003621">to juvenile (5 to 15 years)</option>
                      <option *ngIf="phenotype.onset == 'HP:0030674' || phenotype.onset == 'HP:0003577' || phenotype.onset == 'HP:0003623' || phenotype.onset == 'HP:0003593' || phenotype.onset == 'HP:0011463' || phenotype.onset == 'HP:0003621'" value="HP:0003581">to adult (16 years or later)</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="phenotype.observed == 0" style="margin-top: 22px">
                  This phenotype is not present in <strong>all</strong> patients with this disease.
                </div>
                <hr />
                <div class="row">
                  <div class="col-lg-12">
                    <div *ngFor="let citation of phenotype.citations">
                      <div style="float:left" class="paper" *ngIf="annotation.status == 2 || annotation.status == -2">
                        {{citation.number}}
                      </div>
                      <div style="float:left" class="paper paper-remove" (click)="removeCitation(phenotype.phenotypeID, citation.refID)" *ngIf="!(annotation.status == 2 || annotation.status == -2)">
                        {{citation.number}}
                      </div>
                    </div>
                    <div style="float:left; cursor: pointer" class="paper" (click)="addCitation(phenotype.phenotypeID)" *ngIf="!(annotation.status == 2 || annotation.status == -2)" title="Add a citation (you can also drag and drop references using a mouse)">
                      <i class="fa fa-plus"></i>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" _ngcontent-ihs-13="" style="float:right;" (click)="removePhenotype(phenotype.phenotypeID)" *ngIf="!(annotation.status == 2 || annotation.status == -2)">
                      Remove
                    </button>
                    <button class="btn btn-sm btn-secondary" (click)="openBrowser(phenotype);browser.show()" style="float:right; margin-right: 5px">
                      <i class="fa fa-info-circle" aria-hidden="true"></i> Browse
                    </button>
                    <button class="btn btn-sm btn-secondary" (click)="openDetails(phenotype);smModal.show()" *ngIf="phenotype.observed == 1" style="float:right; margin-right: 5px">Details</button>
                  </div>
                </div>
              </div>

            </div>

            <br />

          </div>

        </tab>
      </tabset>

    </div>

    <div class="col-lg-4">
      <tabset>
        <tab>
          <template tabHeading>
            References
          </template>

          <br />

          <p *ngIf="annotation.refs.length == 0">
            <strong *ngIf="!(annotation.status == 1 || annotation.status == -1)">No references</strong>
            <strong style="color: #FF9800" *ngIf="annotation.status == 1 || annotation.status == -1">Add a reference using the bottom bar.</strong>
            <br />
            <br />
            <strong *ngIf="annotation.status == -1">You must cite every phenotype.</strong>
            <strong *ngIf="annotation.status == 1">You don't have to cite every phenotype, but we suggest that you do.</strong>
          </p>

          <div *ngFor="let ref of annotation.refs;let i = index" [dragula]="'refs'" class="refs">

            <div class="card ref" id="c-{{ref.refID}}">
              <div class="card-header card-default">
                <div style="float:left; margin-right:16px;" class="paper">
                  {{i + 1}}
                </div>
                {{ref.author}} {{ref.year}}
              </div>
              <div class="card-block">
                <p>
                  <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ref.pmid}}" target="_blank" style="cursor: pointer">
                    {{ref.title}}
                  </a>
                </p>
                <i style="opacity: 0.5">PMID: {{ref.pmid}}</i>
                <button type="button" class="btn btn-sm btn-danger" _ngcontent-ihs-13="" style="float:right;" (click)="removeRef(ref.refID)" *ngIf="annotation.status != 2 && annotation.status != -2">
                  Remove
                </button>
              </div>
            </div>

          </div>

        </tab>
        <tab *ngIf="annotation.status == 1 || annotation.status == -1">
          <template tabHeading>
            Onset <span *ngIf="suggestedOnsets.length > 0">({{suggestedOnsets.length}})</span>
          </template>

          <br />

          <p>Choose an onset to apply it to all phenotypes currently listed. Note that the onset you choose now will not be automatically applied to new phenotypes you add later.</p>
          
          <p><input type="checkbox" [(ngModel)]="unsureOnly" id="unsure-only" /> <label for="unsure-only">Apply only to "onset unsure"</label></p>

          <h4 *ngIf="suggestedOnsets.length > 0">{{annotation.disease.diseaseDB.toUpperCase()}} suggestions</h4>

          <ul class="list-group">
            <li class="list-group-item" *ngFor="let suggestedOnset of suggestedOnsets">
              <a class="suggested-onset" (click)="applyOnset(suggestedOnset.hpo, '-1', suggestedOnset.specificHPO)" style="cursor: pointer">
                {{suggestedOnset.name}}
              </a>
            </li>
          </ul>

          <br />

          <h4 *ngIf="suggestedOnsets.length > 0">All onsets</h4>

          <select class="form-control" (change)="applyAllOnset($event.target.value)" style="color:black" [(ngModel)]="applyAllOnsetFrom">
            <option value="-1">Select…</option>
            <option value="HP:0030674">Antenatal (before birth)</option>
            <option value="HP:0030674|HP:0011460">- Embryonal (up to 8 weeks of gestation)</option>
            <option value="HP:0030674|HP:0011461">- Fetal (after 8 weeks of gestation)</option>
            <option value="HP:0003577">Congenital (at birth)</option>
            <option value="HP:0003623">Neonatal (0 to 28 days)</option>
            <option value="HP:0003593">Infantile (28 days to 1 year)</option>
            <option value="HP:0011463">Childhood (1 to 5 years)</option>
            <option value="HP:0003621">Juvenile (5 to 15 years)</option>
            <option value="HP:0003581">Adult (16 years or later)</option>
            <option value="HP:0003581|HP:0011462">- Young adult (16 to 40 years)</option>
            <option value="HP:0003581|HP:0003596">- Middle age (40 to 60 years)</option>
            <option value="HP:0003581|HP:0003584">- Late (after 60 years)</option>
          </select>

          <button class="btn btn-secondary btn-sm" (click)="applyAllOnsetRange = true" *ngIf="!applyAllOnsetRange && applyAllOnsetFrom != 'HP:0003581' && applyAllOnsetFrom != 'HP:0003581|HP:0003584' && applyAllOnsetFrom != '-1'" style="margin-top:10px">Range…</button>

          <select class="form-control" (change)="applyAllOnsetTo($event.target.value)" style="color:black; margin-top:10px" *ngIf="applyAllOnsetRange" [(ngModel)]="applyAllOnsetToVar">
            <option value="-1">Select…</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011460'" disabled>to antenatal (before birth)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011460'" value="HP:0030674|HP:9999990">- to fetal (after 8 weeks of gestation)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674')" value="HP:0003577">to congenital (at birth)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674') || applyAllOnsetFrom == 'HP:0003577'" value="HP:0003623">to neonatal (0 to 28 days)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674') || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623'" value="HP:0003593">to infantile (28 days to 1 year)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674') || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593'" value="HP:0011463">to childhood (1 to 5 years)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674') || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593' || applyAllOnsetFrom == 'HP:0011463'" value="HP:0003621">to juvenile (5 to 15 years)</option>
            <option *ngIf="applyAllOnsetFrom.startsWith('HP:0030674') || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593' || applyAllOnsetFrom == 'HP:0011463' || applyAllOnsetFrom == 'HP:0003621'" value="HP:0003581">to adult (16 years or later)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0003581|HP:0011462' || applyAllOnsetFrom == 'HP:0003581|HP:0003596'" disabled>to adult (16 years or later)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674' || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593' || applyAllOnsetFrom == 'HP:0011463' || applyAllOnsetFrom == 'HP:0003621'" value="HP:0003581|HP:0011462">- to young adult (16 to 40 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674' || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593' || applyAllOnsetFrom == 'HP:0011463' || applyAllOnsetFrom == 'HP:0003621'" value="HP:0003581|HP:0003596">- to middle age (40 to 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674' || applyAllOnsetFrom == 'HP:0003577' || applyAllOnsetFrom == 'HP:0003623' || applyAllOnsetFrom == 'HP:0003593' || applyAllOnsetFrom == 'HP:0011463' || applyAllOnsetFrom == 'HP:0003621'" value="HP:0003581|HP:0003584">- to late (after 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0003581|HP:0011462'" value="HP:0003581|HP:9999991">- to middle age (40 to 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0003581|HP:0003596'" value="HP:0003581|HP:9999992">- to late (after 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0003581|HP:0011462'" value="HP:0003581|HP:9999993">- to late (after 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011460'" value="HP:0003581|HP:9999994">- to young adult (16 to 40 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011460'" value="HP:0003581|HP:9999995">- to middle age (40 to 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011460'" value="HP:0003581|HP:9999996">- to late (after 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011461'" value="HP:0003581|HP:9999997">- to young adult (16 to 40 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011461'" value="HP:0003581|HP:9999998">- to middle age (40 to 60 years)</option>
            <option *ngIf="applyAllOnsetFrom == 'HP:0030674|HP:0011461'" value="HP:0003581|HP:9999999">- to late (after 60 years)</option>
          </select>

        </tab>
        <tab *ngIf="profLevel && annotation.status == 2">
          <template tabHeading>
            <i class="fa fa-clone" title="Clones"></i> ({{annotation.clones.length}})
          </template>
          <br />

          <p *ngIf="annotation.clones.length == 0">
            <strong>No clones yet.</strong>
          </p>

          <div *ngFor="let clone of annotation.clones">

            <div class="card" style="cursor: pointer" (click)="jumpToAnnotation(clone.annotationID)">
              <div class="card-header card-default">
                Annotation {{clone.annotationID}}
              </div>
              <div class="card-block">
                <p>
                  {{clone.author.userName}}
                  <br />
                  &lt;{{clone.author.userEmail}}&gt;
                </p>
                <i style="opacity: 0.5">Published on {{clone.datePublished}}</i>
              </div>
            </div>

          </div>

        </tab>
      </tabset>
    </div>

  </div>

  <br />
  <br />

</div>
