<div class="container-fluid">

  <div class="hover-box" style="display: none">
    Release to reposition.
  </div>

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header" *ngIf="exercise">
        <a [routerLink]="['/dashboard', '/class-prof', exercise.classID]">{{exercise.className}}</a> » {{exercise.exerciseName}}
      </h2>
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-info-circle"></i> Modify the exercise and view submissions
        </li>
      </ol>
      <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true">
        {{ alert?.msg }}
      </alert>
      <button class="btn btn-secondary" (click)="renameExercise()">
        Rename exercise
      </button>
      <button class="btn btn-danger" (click)="deleteExercise()" *ngIf="!dateStart || dateStart > dateNow">
        Delete
      </button>
      <span style="opacity: 0.5" *ngIf="!dateStart || dateStart > dateNow">
        <i>&emsp;You can delete this exercise before it starts.</i>
      </span>
    </div>
  </div>

  <br />

  <div class="row">

    <div class="col-lg-12">
      <tabset>
        <tab>
          <template tabHeading *ngIf="exercise">
            Diseases ({{exercise.problems.length}})
          </template>

          <br />

          <div class="row">
            <div class="col-lg-8" *ngIf="exercise">
              <p *ngIf="exercise.problems.length === 0">
                <strong>No diseases yet</strong>
              </p>
              <ul class="list-group" [dragula]="'problems'">
                <li class="list-group-item problem" *ngFor="let problem of exercise.problems; let i = index" id="p{{problem.problemID}}">
                  <button type="button" class="btn btn-sm btn-danger" style="float:right;margin-left:5px;height:25px;padding-top:1px;" (click)="removeProblem(problem.problemID)" title="Remove" *ngIf="!dateStart || dateStart > dateNow">
                    <i class="fa fa-times"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-info" style="float:right;margin-left:5px;height:25px;padding-top:1px;" (click)="lookUpDisease(problem.diseaseDB, problem.diseaseName)" title="Look up">
                    <i class="fa fa-book"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary" style="float:right;height:25px;padding-top:1px;" (click)="gotoPhenository(problem.diseaseDB, problem.diseaseName)" title="View in Phenository">
                    <i class="fa fa-cloud" style="color:#0275d8;"></i>
                  </button>
                  <span><span style="background: black;color: white;" *ngIf="showNumbers">&nbsp;{{i + 1}}&nbsp;</span> {{problem.diseaseName}}</span>
                  <span *ngIf="problem.numAnnotations === 0" style="color:rgb(217, 83, 79);font-size: small">
                    <br />
                    This disease has no published annotations.
                    <a (click)="createAnnotation(problem.diseaseName, problem.diseaseDB)" style="cursor: pointer" *ngIf="problem.numMyAnnotations === 0">Create annotation</a>
                    <!--<a (click)="createAnnotation(problem.diseaseName)" style="cursor: pointer" *ngIf="problem.numMyAnnotations > 0" [routerLink]="['/dashboard', '/my-annotations']">My annotations</a>-->
                  </span>
                </li>
              </ul>
              <br />
            </div>
            <div class="col-lg-4">
              <div class="card card-block" id="add-disease">
                <h4>Add a disease</h4>
                <p>Enter disease name or ID:</p>
                <form role="form" id="ordo-form">
                  <fieldset class="form-group">
                    <div class="typeahead__container">
                      <div class="typeahead__field">
                        <span class="typeahead__query">
                            <input class="js-typeahead" autocomplete="off" [(ngModel)]="typeAheadBox" [disabled]="!(!dateStart || dateStart > dateNow)">
                        </span>
                      </div>
                    </div>
                  </fieldset>
                </form>
                <form role="form" id="omim-form" style="display:none">
                  <fieldset class="form-group">
                    <div class="typeahead__container">
                      <div class="typeahead__field">
                        <span class="typeahead__query">
                            <input class="js-typeahead-omim" autocomplete="off" [(ngModel)]="typeAheadBox" [disabled]="!(!dateStart || dateStart > dateNow)">
                        </span>
                      </div>
                    </div>
                  </fieldset>
                </form>
                <div class="btn-group" _ngcontent-pyb-9="" *ngIf="diseaseDB == 'omim'">
                  <label class="btn btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Left" _ngcontent-pyb-9="" (click)="setDB('ordo')">ORDO (Orphanet)</label>
                  <label class="btn btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Right" _ngcontent-pyb-9="">OMIM</label>
                </div>
                <div class="btn-group" _ngcontent-pyb-9="" *ngIf="diseaseDB == 'ordo'">
                  <label class="btn btn-secondary ng-untouched ng-pristine ng-valid active" btnradio="Left" _ngcontent-pyb-9="">ORDO (Orphanet)</label>
                  <label class="btn btn-secondary ng-untouched ng-pristine ng-valid" btnradio="Right" _ngcontent-pyb-9="" (click)="setDB('omim')">OMIM</label>
                </div>
                <p style="opacity: 0.5"><em>Please don't enter symbols.</em></p>
              </div>
              <!--<div class="card card-block" *ngIf="!(!dateStart || dateStart > dateNow)">
                You cannot add, move, or remove diseases after the exercise has started.
              </div>-->
              <div dropdown keyboardNav="true" *ngIf="otherExercises && exercise && exercise.problems.length > 0">
                <a href class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                  Copy all to another exercise
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                  <li role="menuitem">
                    <a class="dropdown-item" *ngFor="let otherExercise of otherExercises" (click)="copyProblems(otherExercise.exerciseID)" style="cursor:pointer">
                      <span style="opacity:.5">{{otherExercise.className}} »</span> {{otherExercise.exerciseName}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </tab>
        <tab *ngIf="exercise">
          <template tabHeading>
            Start/End
          </template>
          <br />
          <div class="row">
            <div class="col-lg-6">
              <h4>Start</h4>
              <p>Date and time:</p>
              <input class="form-control" *ngIf="exercise" [(ngModel)]="exercise.dateStart" (keyup.enter)="startDate()" [disabled]="!(!dateStart || dateStart > dateNow)">
              <br />
              <button class="btn btn-primary" (click)="startDate()" *ngIf="!dateStart || dateStart > dateNow">
                Update
              </button>
              <button class="btn btn-secondary" (click)="startNow()" *ngIf="!dateStart || dateStart > dateNow">
                Start now
              </button>
              <br />
              <br />
            </div>
            <div class="col-lg-6">
              <h4>End (due)</h4>
              <p>Date and time:</p>
              <input class="form-control" *ngIf="exercise" [(ngModel)]="exercise.dateEnd" (keyup.enter)="endDate()" [disabled]="!(dateStart && (!dateEnd || dateEnd > dateNow))">
              <br />
              <button class="btn btn-primary" (click)="endDate()" *ngIf="dateStart && (!dateEnd || dateEnd > dateNow)">
                Update
              </button>
              <button class="btn btn-secondary" (click)="endNow()" *ngIf="dateStart <= dateNow && (!dateEnd || dateEnd > dateNow)">
                End now
              </button>
              <br />
              <br />
            </div>
            <div class="col-lg-12">
              <div class="card card-block">
                <h5>Tips</h5>
                <ol>
                  <li>The default time zone is GMT. You can specify a time zone by appending the date with a time zone abbreviation, such as EST or PDT.</li>
                  <li>Start and end dates are optional. Alternatively, you can start and end exercises at any time using the <strong>Start now</strong> and <strong>End now</strong> buttons.</li>
                </ol>
              </div>
            </div>
          </div>
        </tab>
        <tab *ngIf="exercise">
          <template tabHeading>
            Submissions ({{exercise.submissions.length}})
          </template>
          <br />
          <strong *ngIf="exercise.submissions.length === 0">No submissions yet</strong>
          <span *ngIf="exercise.submissions.length > 0">
            <button class="btn btn-secondary" (click)="selectAll()">
              <i class="fa fa-check-square-o" aria-hidden="true"></i> All
            </button>
            <button class="btn btn-primary" (click)="releaseAll(true)">
              Release scores
            </button>
            <button class="btn btn-danger" (click)="releaseAll(false)">
              Unrelease scores
            </button>
          </span>
          <br />
          <br />
          <div class="table-responsive" *ngIf="exercise.submissions.length > 0">
            <table class="table table-hover table-sm">
              <thead class="thead-inverse">
              <tr>
                <th></th>
                <th>Student</th>
                <th>Score</th>
                <th>Released</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let submission of exercise.submissions">
                <td><input type="checkbox" name="release" value="{{submission.annotationID}}" /></td>
                <td><a style="cursor: pointer" (click)="gotoComparator(submission.annotationID)">{{submission.studentName}}</a></td>
                <td><span *ngIf="submission.possibleScore > 0">{{submission.sumScore}} / {{submission.possibleScore}} ({{submission.percentScore}}%)</span></td>
                <td>{{submission.numReleased}} / {{submission.numAnnotations}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </tab>
      </tabset>
    </div>

  </div>

</div>
